.catalog-menu{
  width: 280px;
  display: flex;
}

.catalog-menu__item{
  width: 140px;
  min-height: 144px;
  box-shadow: 0 0 1px 1px black;
}

.main-catalog__btn{
  min-height:40px;
  width: 280px;
  background-color: rgb(104,183,56);
  border:none;
  text-transform: uppercase;
}
