.page-navigation{
  width: inherit;
  min-height: inherit;
}

.page-navigation--opened{
  display: block;
}

.page-navigation--closed .page-menu__item{
  display: none;
  &--active{
    display: flex;
  }
}

.page-navigation--closed .page-menu__close{
  display:none;
}

.page-navigation--opened .page-menu__open{
  display: none;
}


@media(min-width:768px){
  .page-navigation{
    padding: 0 30px 0;
  }
}

@media(min-width: 1140px){
  .page-navigation{
    position:absolute;
    width:1000px;
  }
}