.page-header{
  min-height:65px;
  width:320px;
  background-color: rgb(255,255,255);
  margin:auto;
  position:relative;
  display: flex;
  flex-direction: column;
}


@media(min-width:768px){
  .page-header{
  width: 768px;
  }
}


@media(min-width:1140px){
  .page-header{
    width:1140px;
    padding: 0 70px 0;
    flex-direction: row;
    box-shadow: 0 0 2px 2px orange;
  }
}

