.extraGoods{
  display: flex;
  flex-direction: column;
}

.extraGoods__title{
  font-family:"Oswald",sans-serif;
  font-size: 18px;
  line-height: 24px;
  position:relative;
  margin:15px 0 15px;
}

.extraGoods__title:after{
  content: " ";
  position: absolute;
  right:-20px;
  width:53px;
  height: 3px;
  background-color:rgb(104,183,56);
  top:50%;
  transform:translateY(-50%);
}

.extraGoods-wrapper{}

.extraGoods-wrapper__name-item h3{
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 10px 0 10px;
}

.extraGoods-wrapper__name-item p{
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
}

@media(min-width:768px) {
  .extraGoods {
    width: 708px;
  }
}


@media(min-width:1140px){
  .extraGoods{
    width:1000px;
  }

  .extraGoods-container{
    margin-top: 15px;
    min-height: 289px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .extraGoods-outSideWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .extraGoods__picture{
    vertical-align: bottom;
    margin-bottom: 24px;
    margin-left: 55px;
  }
}