@font-face{
  font-family: "Arial",sans-serif;
  font-style:normal;
  font-weight: 400;
  src:url('../../../fonts/ArialRegular.ttf') format('ttf');
}

@font-face {
  font-family: "PT Sans Narrow",sans-serif;
  font-style:normal;
  font-weight: 800;
  src:url('../../../fonts/Oswald-VariableFont_wght.ttf') format('ttf');
}

